<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="products.css">
    <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/8a03dd9389.js" crossorigin="anonymous"></script>
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
    <link rel="icon" href="./assets/favicon.png">

    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaigns</title>
</head>
<body>
    <!--Header-->
    <header class="header">

        <img src="../public/assets/logo.svg" alt="logo" class="logo">


        <input type="checkbox" id="btn-menu"/>
        <label for="btn-menu">
        <i class="fas fa-bars fa-4x fa-lg header-menu" ></i>
        </label>
           
        <nav class="menu"> 

            
            <div class="down--button__container">

                    <div class="down--button">
                        <a href="#products">Services</a>
                    </div>



                <ul >
                        <div class="triangulo"></div>
                        
                        <li>
                            <i class="fas fa-magic fa-2x"></i>
                            <a href="/branding" >Branding</a>
                        </li>

                        <li>
                            <i class="fas fa-pen-nib fa-2x"></i>
                            <a href="/design">Graphic Design</a>
                        </li>

                        <li>
                            <i class="fas fa-box-open fa-2x"></i>
                            <a href="/packaging">Packaging</a>
                        </li>

                        <li>
                            <i class="far fa-lightbulb fa-2x"></i>
                            <a href="/campaign">Campaigns</a>
                        </li>

                        <li>
                            <i class="fas fa-laptop-code fa-2x"></i>
                            <a href="/website">Website</a>
                        </li>

                        <li>
                            <i class="fab fa-linode fa-2x"></i>
                            <a href="/ui">UI/UX </a>
                        </li>



                    </ul>
            </div>
                        <a href="/portfolio" >Our Work</a>
        <a href="./contact" >
            <button class="contact-button">Contact us</button>
        </a>
            <a href="/">Home</a>
            <a href="#faq">
                <i class="far fa-questsion-circle " ></i>
            </a>
            
            
        </nav>

        
    </header>
     <!--/Header-->

            <div class="solapa"></div>
            <div class="innerSolapa">
                <p class="top-title">STORYTELLING</p>
                <h1 class="main-title">CAMPAIGNS</h1>
                <h2  class="main-subtitle" >SEND A MESSAGE TO THE RIGHT AUDIENCE</h2>
                <p class="sub-title">EFICIENT CHANNEL</p>
                <a href="/contact">
                    <button>
                        WORK WITH US
                    </button>
                </a>
            </div>
            <img class="imagen" src="https://fotos.subefotos.com/390acfa597bd91a9e837eb846b888e08o.png" alt="" style="height:350px;width:350px">


     <section class="carrousel">
         <div class="carrousel--container">

             <div class="carrousel--item">
                <img src="https://fotos.subefotos.com/a323cf5b587340523a4ef3f00f20c59ao.png" width="300" height="250"  alt=""/>

             </div>

             <div class="carrousel--item">
                <img src="https://fotos.subefotos.com/e5dd570a4501addc40eaec6850ad2810o.jpg"  alt="" width="300" height="250"/>

            </div>

            <div class="carrousel--item">
                <img src="https://fotos.subefotos.com/94607bbb924a91cfc686749c27438166o.png"  alt="" width="300" height="250"/>

            </div>

            <div class="carrousel--item">
                 <img src="https://fotos.subefotos.com/2d66f7fd91e0b7641f164dfec4a9f13do.jpg" width="300" height="250"  alt=""/>

            </div>

            <div class="carrousel--item">
                <img src="https://fotos.subefotos.com/532a7b67d8a512d0ab6ad3f875396654o.jpg" width="300" height="250"  alt=""/>

            </div>

         </div>
     </section>



    <section class="steps">
         <h1  >CATCH PUBLIC'S ATTENTION</h1>
         <p class="steps--description">Anything that is visual catches the public's attention, makes it digestible and helps simplify information. But it has to be done with a clear objective.
Depending on the content, it is the reaction it will cause.
"Every action corresponds to a reaction" As Newton's third law says, but adapting to the context of companies or brands, every time you do something positive or negative you will receive comments from your audience.
        </p>




        

        <div class="step--item" >
            <div class="step--img left"   >
                <img src="https://fotos.subefotos.com/9777a4d38c1d9250c6e113cc72e7d055o.png" alt="" >
            </div>
            <h2 id="step--title1">TELL A STORY</h2>
            <p class="right step--text"> 
It has to adapt to the brand's personality, the environment it wants to create and the story it tells.
This generates a greater impact on people, in this way it is possible for them to see the product, the place or the service with which they will have contact, which is a key point that influences decision-making.
It is very important for the acceptance of the product in the global market.
            </p>
        </div>
                                                            
        

        <div class="step--item mbottom">
            <h2 id="step--title2">EFICIENT CHANNEL</h2>

            <p class="rightXX step--text bottom" >
The campaigns we created from 2017 to 2020 have been massively 92.99% positive in singers, big brands arround  the world.
that have worked with us for their advertising channels.
They choose us better because we will not tell them what they want to hear, but what they really need.


            </p>

            <div class="step--img right top">
                <img src="https://fotos.subefotos.com/ce36d47d5ea7bc49d87d6046e6e4d3dco.png" alt=""   >
            </div>
        </div>

    </section>

     <div class="bigImg" style="width:100%">
        <img src="https://fotos.subefotos.com/d2182c51ade34a95c4dd69d18382957fo.jpg">
     </div>

    <section class="includes--container">

        <div class="includes--item">
            <i class="fas fa-check fa-2x " style=" color:rgba(50,0,215,1)"></i>
            <h3 class="item--text">Commercial Signage</h3>
        </div> 

        <div class="includes--item">
            <i class="fas fa-check fa-2x" style=" color:rgba(50,0,215,1)"></i>
            <h3 class="item--text">Posters</h3>
        </div>

        <div class="includes--item">
            <i class="fas fa-check fa-2x" style=" color:rgba(50,0,215,1)"></i>
            <h3 class="item--text">Merchandising</h3>
        </div>

        <div class="includes--item">
            <i class="fas fa-check fa-2x" style=" color:rgba(50,0,215,1)"></i>
            <h3 class="item--text">Social Media</h3>
        </div>

        <div class="includes--item">
            <i class="fas fa-check fa-2x" style=" color:rgba(50,0,215,1)"></i>
            <h3 class="item--text">Google Ads</h3>
        </div>

         <a href="/contact" class="start-a">
            <button class="start-button">Lets Start</button> 
         </a>
    </section>

         <footer>

    <img src="../public/assets/logoblack.svg" alt="" width="150" height="150" />

    <a href="/contact"> Contact Us  </a> 
    <a href="/terms"> Terms </a> 
    <a href="/contact"> Can we Help you ? </a> 
    <a href="https://www.instagram.com/bysubliminal/" onclick="this.target='_blank' "> Follow us </a> 
    <a href="/privacy"> Privacy </a> 

    

    </footer>
            <p class="sub-footer">
                2020   ©bySubliminal | All Rights Reserved
            </p>

</body>
</html>