<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <script src="https://kit.fontawesome.com/8a03dd9389.js" crossorigin="anonymous"></script>
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
    <link rel="icon" href="./assets/favicon.png">

    <link rel="stylesheet" href="portfolio.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porfolio</title>
</head>
<body>
    <!--Header-->
  <header class="header">

        <img src="../public/assets/logo.svg" alt="logo" class="logo">


        <input type="checkbox" id="btn-menu"/>
        <label for="btn-menu">
        <i class="fas fa-bars fa-4x fa-lg header-menu" ></i>
        </label>
           
        <nav class="menu"> 

            
            <div class="down--button__container">

                    <div class="down--button">
                        <a href="#products">Services</a>
                    </div>



                <ul >
                        <div class="triangulo"></div>
                        
                        <li>
                            <i class="fas fa-magic fa-2x"></i>
                            <a href="/branding" >Branding</a>
                        </li>

                        <li>
                            <i class="fas fa-pen-nib fa-2x"></i>
                            <a href="/design">Graphic Design</a>
                        </li>

                        <li>
                            <i class="fas fa-box-open fa-2x"></i>
                            <a href="/packaging">Packaging</a>
                        </li>

                        <li>
                            <i class="far fa-lightbulb fa-2x"></i>
                            <a href="/campaign">Campaigns</a>
                        </li>

                        <li>
                            <i class="fas fa-laptop-code fa-2x"></i>
                            <a href="/website">Website</a>
                        </li>

                        <li>
                            <i class="fab fa-linode fa-2x"></i>
                            <a href="/ui">UI/UX </a>
                        </li>



                    </ul>
            </div>
                        <a href="/portfolio" >Our Work</a>
        <a href="./contact" >
            <button class="contact-button">Contact us</button>
        </a>
            <a href="/">Home</a>
            <a href="#faq">
                <i class="far fa-questsion-circle " ></i>
            </a>
            
            
        </nav>

        
    </header>
     <!--/Header-->
     <h1 class="title"> PORTFOLIO </h1>
     <h4 class="subtitle">Why Us? </h4>
        <div class="icons--container">

        <div class="icons--item">
             <img src="https://fotos.subefotos.com/ff17e8ae8d26b334c1a0881bdbfcfb30o.png" alt="porfolio-icon" />
            <p>Global  <br>Impact <br>Brands</p>
        </div>


        <div class="icons--item">
            <img src="https://fotos.subefotos.com/ad862df17f0f3c757675f647cbfbe723o.png" alt="porfolio-icon" />
            <p>Creativity  <br>Focus on <br>  Growth</p>
        </div>
        
        <div class="icons--item">
            <img src="https://fotos.subefotos.com/f134799e2fdb50d20c15b071ec3af1dbo.png" alt="porfolio-icon" />
            <p>Connecting <br>Your message to<br>The right people</p>
        </div>
        
        <div class="icons--item">
            <img src="https://fotos.subefotos.com/1943e67d2e0947f67b9481885453d32bo.png" alt="porfolio-icon" />
            <p>Building human<br>And sustentable <br> Brands</p>
        </div>
        
        <div class="icons--item">
            <img src="https://fotos.subefotos.com/64a991389b220554e99e0e5d1e5dada7o.png" alt="porfolio-icon" />
            <p>Fluid Human<br>Comunication<br> Process </p>
        </div>
        
    </div>


     <main>

         <div class="myslider" id="myslider" >
             <img src="https://fotos.subefotos.com/edc7700f9c18817a694f9129494a8fbfo.jpg?fbclid=IwAR3UaUqmSvthFUpuq6FaFYBT6E2oGCm9a4LWxVSMGy0nCSUwoUKslUB2mZE" alt="carrousel" >
             <img src="https://fotos.subefotos.com/cdab3195fc056a7f11c802a4070e9ae8o.png?fbclid=IwAR0Z2X2jaAMpKK7rJCk3wc5akbpKOJNfJ8QPRbEhlHnDnwdr38o-1sFF7AY" alt="carrousel" >
             <img src="https://fotos.subefotos.com/5bd01b159f3e8d06a724a1fe0d643faao.png?fbclid=IwAR3J8gDLFtKBtg16TB1Bi6KyleF4YL51WT-k6lhkwvclSzmU_0r8TfkqM_A" alt="carrousel" >
             <img src="https://fotos.subefotos.com/3ca629b3fdec935ea1954b8286309981o.jpg?fbclid=IwAR1k3L2QU3rmASrSdDW-OGkrHjPjgGEbvilgj-7eQfOrRL9_atFNWqc8jPk" alt="carrousel" >
             <img src="https://fotos.subefotos.com/25430cb6bc67ad75216dc778c0f7162bo.jpg?fbclid=IwAR041sUhZnnj9EZoDkhbwHT9bj60DQ70-dzLxTPqJBbs_0Vx-uzZNk49rv0" alt="carrousel" >
             <img src="https://fotos.subefotos.com/94607bbb924a91cfc686749c27438166o.png" alt="Porsche" />
         </div>
     </main>

     <p class="post-carrousel">The images of the processes of other brands can be an inspiration of reference to observe our work.
Learn more about us and see the services in which we specialize. To contact us you can do it by clicking on "Let’s Start" and fill out the form to get in touch immediately.

    </p>

 

    <img  src="./assets/figurilla.png" alt="" class="banda" >
    <img  src="./assets/figurillablue.png" alt="" class="banda-azul" > 

    <section class="about">
       
            <img class="team"src="https://fotos.subefotos.com/3489ce273387406b3fcb5e17c499a15eo.png" alt="" width="400" height="400">
           <div>
                <h2 class="about-title">THE SECRET OF OUR SUCCESS</h2>
               <p class="about-text">We specialize in creating graphic art. Convincing ideas with specialized systems to solve visual communication problems.
Our team was created in 2017, where we began to promote brands with our secret and creative formula that manages to transmit the right message to its clients in all parts of the world. Now tell me; Would you like to know what the secret is? We will tell you honestly ... It is our team. We encourage each other to be our best human and artistic version.</p>
           </div> 
        
    </section>

     <a href="/contact" class="super_hover">
                        <button>
                           Let’s Start
                        </button>
    </a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-slider/1.0.0/simpleslider.min.js"></script>
<script>
  simpleslider.getSlider({
    container: document.getElementById('myslider'),
    transitionTime:1,
    delay:3.5
  });
</script>

</body>
</html>