body{
    padding: 0%;
    margin: 0%;

}
img{
    height: 800px;
width: 1400px;
}
.super_hover button{
    position: absolute;
    z-index: 9;
    height: 60px;
    width: 200px;
    left:580px;
    top:60px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(#061dfb,#4016fc, #8b0efe,#c906ff);
}

.super_hover button:first-child:hover{
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
}

.super_hover button:last-child:hover{
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
}

.super_hover button:first-child::before,
.super_hover button:last-child::before{
    content: "";
    position: absolute;
    background: inherit;
    top:-5px;left:-5px;right:-5px;bottom:-5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity .5s;
}

.super_hover button:hover:first-child::before,
.super_hover button:hover:last-child::before{
    opacity: 1;
    z-index:-1;
}

.super_hover button:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow{
    0%{
        z-index: 1;
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
    }
    
    
@media(max-width:500px){
    img{
        height: 500px;
    width: 100%;
    }

    .super_hover button{
    top:500px;
    left:0px;
    width: 100%;
      border-radius:0px;
      height: 140px;
    }
}