body{
    padding: 0%;
    margin: 0%;
    background-image: url("https://fotos.subefotos.com/34c7d9097c691d2a278e93d36f5359f1o.png?fbclid=IwAR2KVIh4Yi8Zx4CzrS0XWsvVC7_KuyXxndSKrqhDF-tfu7Lklj4FgdP8ekg");
    background-size: 1400px 1000px;
    background-repeat: no-repeat;
}

.super_hover button{
    position: absolute;
    z-index: 9;
    height: 60px;
    width: 200px;
    left:580px;
    top:100px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(#061dfb,#4016fc, #8b0efe,#c906ff);
}

.super_hover button:first-child:hover{
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
}

.super_hover button:last-child:hover{
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
}

.super_hover button:first-child::before,
.super_hover button:last-child::before{
    content: "";
    position: absolute;
    background: inherit;
    top:-5px;left:-5px;right:-5px;bottom:-5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity .5s;
}

.super_hover button:hover:first-child::before,
.super_hover button:hover:last-child::before{
    opacity: 1;
    z-index:-1;
}

.super_hover button:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow{
    0%{
        z-index: 1;
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
    }