/*   EACH PRODUCT     */
*{
    margin:0;
    padding: 0;

 
}

body{
    background:black
}

.solapa{
    height: 850px;
    width: 1373px;
    border-radius: 200px;
    margin-top: -335px;
    

}

.innerSolapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 500px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: -400px;
    

}

.top-title{
    margin-left: 280px; 
    margin-bottom: 15px; 
    font-size: 15px;
}

.main-title{
    letter-spacing: 4px; 
    font-size: 80px; 
    font-family: 'Archivo Black', sans-serif;
}
.sub-title{
   margin-right: 320px; 
   margin-top: 15px; 
   font-size: 15px;
}


.innerSolapa a button{
    position: relative;
    height: 60px;
    width: 200px;
    margin-left:250px;
    margin-top: -150px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(#061dfb,#4016fc, #8b0efe,#c906ff);
}

.innerSolapa a button:first-child:hover{
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
}

.innerSolapa a button:last-child:hover{
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
}

.innerSolapa a button:first-child::before,
.innerSolapa a button:last-child::before{
    content: "";
    position: absolute;
    background: inherit;
    top:-5px;left:-5px;right:-5px;bottom:-5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity .5s;
}

.innerSolapa a button:hover:first-child::before,
.innerSolapa a button:hover:last-child::before{
    opacity: 1;
    z-index:-1;
}

.innerSolapa a button:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
}
@keyframes glow{
0%{
    z-index: 1;
    background-position: 0%;
}
100%{
    background-position: 400%;
}
}








.header{
    font-family: 'Heebo', sans-serif;
    height:120px;
    display: flex;
    justify-content: space-around;
    padding-right: 50px;
    padding-left: 50px;
    background:rgb(0, 0, 0);
    font-size: 18px;
    border-bottom:1px solid rgb(228, 228, 228);
    position:sticky;
    top:0;
    z-index:10
    
  

}

.logo{
    width:100px;
    height: 100px;
    margin-top:11px;
    margin-left:-150px 
}

.header a{
    margin-top:50px;
    color: #797979;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 1s;
    margin-left:70px;
   
}

.header a:hover {
  color:rgba(50,0,215,1);
  
}

.contact-button{
    margin-top:-20px;
    font-size: 18px;
    font-family: 'Heebo', sans-serif;
    height: 35px;
    border: 2px solid rgba(50,0,215,1);
    width: 170px;
    border-radius: 150px;
    background-color:rgba(50,0,215,1);
    color: white;
    transition: 0.5s;
    
 
    
    
}



.contact-button:hover{
    
    color:rgba(50,0,215,1);
    background-color:#fff;
    border: 2px solid rgba(50,0,215,1);

 
}

/*navbar*/
.triangulo{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid rgba(50,0,215,1);
    margin-top:-50px;
    margin-right: -150px;
    

    
}
.down--button__container ul{
   
    display: none;
    list-style: none;
    position: absolute;
    width: 300px;
    text-align: right;
    padding-right: 20px;
    height: 450px;
    background-color:rgb(255, 253, 253);
    border-radius: 30px;
    margin-top:15px;
    
}


.down--button__container:hover ul, ul:hover{
    display: flex;
    flex-direction: column;
    margin-left:-130px;
    justify-content: center;
    align-items: center;
}

.down--button__container ul li{
    height: 50px;
    background-color: rgb(255, 253, 253);
    width: 250px;
    margin-bottom: 10px;
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 48px;
will-change: transform;
transition: 1s  ;
    
 
}

.down--button__container ul li:hover a  ,a {
    color:rgba(50,0,215,1)
}

.down--button__container ul li:hover  i {
    color:rgba(50,0,215,1)
}

.down--button__container ul li i{
    color:#797979;
    margin-left:10px
}

.down--button__container ul li a {
    background:transparent;
    padding-right: 10px;
    color:#797979;
    text-decoration: none;
    margin-top:-5px;
    

}

.down--button__container li a:hover{
    
    color:rgba(50,0,215,1);

}

.down--button__container ul li:hover {
    border-radius: 48px;
background: linear-gradient(145deg, #e6e6e6, #ffffff);
box-shadow:  12px 12px 24px #ebebeb, 
             -12px -12px 24px #ffffff;
    transform: translate(15px);
}


.down--button{
    margin-top:50px;
  
}


.menu{
    display:flex;
    justify-content:flex-end
}
/*navbar*/

#btn-menu{
    display: none;
}

header label{
    display:none;
    width:65px;
    height: 60px;
    
   
}

header label:hover{
    cursor: pointer;
    background: rgba(216, 216, 216, 0.5);
}





.imagen{
    margin-top: -320px; 
    margin-left: 140px;
    animation: float 3s linear infinite;
    will-change: transform;
    background-color: transparent;
    width:300px ;
    height:400px
}



@keyframes float{
0%{
   transform: translateY(0px);
}
25%{
        transform: translateY(10px);  
}
50%{
    transform: translateY(0px);
 }

75%{
    transform: translateY(-10px);
}
100%{
    transform: translateY(0px);
 }
}




/*Carrousel*/
.carrousel{
    
    width:100% ;
    position: relative;
    margin-left:130px;
}

.carrousel--container{
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
 
}

.carrousel--container:hover .carrousel--item{
    opacity: 0.3;
}

.carrousel--container:hover .carrousel--item:hover{
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 1;
}

.carrousel--item{
    border-radius: 20px;
    overflow: hidden;
    position:relative;
    display: inline-block;
    width:200px;
    height: 250px;
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
    transition:500ms all;
    -webkit-transform-origin: center ;
    transform-origin: center ;
}

.carrousel--itemhover ~ .carrousel--item{
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.carrousel--item img {
    width:200px;
    height: 250px;
    object-fit:cover

  }


  /*steps*/
  .steps{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .steps h1{
        font-family: 'Archivo Black', sans-serif;
         color:white; 
         font-size: 53px;
         margin-bottom:40px;
         margin-top:30px

    }
    .steps--description{
    font-family: 'Heebo', sans-serif;
        width: 1200px;
        color:white; 
        font-size: 25px;
         margin-bottom:40px;
         color: rgb(77, 77, 77);

    }
    
    .step--text{
        width: 1040px;
    text-align: center;
    font-family: 'Heebo', sans-serif;

    color: rgb(77, 77, 77);
    }
 
  
  
  .step--item{
    width: 100%;
    margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    position:relative;
    
}

.mbottom{
    margin-bottom:150px
}

#step--title1{
position:relative;

    top:-70px;
    color:white;
    left:450px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: lighter;
    
    width: 500px;
}

#step--title2{
    position: relative;
    left: 390px;
    font-weight: lighter;
    
    bottom: 70px;
    width: 1500px;
    font-family: 'Archivo Black', sans-serif;
    color: white;
    

}

.step--text {
    
    width: 1500px;

}

.step--img{
    background-color: black;
    
    border-radius: 100%;
    height: 250px;
    width: 250px;
    
}
.left{
    position:relative;
    left:90px
}

.right{
    position:relative;
    right:90px
}

.rightXX{
    position:relative;
    right:200px
}

.step--img img{
    border-radius: 100%;
    height: 250px;
    width: 250px;
    will-change: transform;
    animation:spiral 10s linear infinite;
}


.bigImg img{
    width: 100%;
}

.includes--container{
    display: flex;
    font-family: 'Heebo', sans-serif;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#797979
}

.includes--item{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #797979;
    width: 50%;
    margin-top:20px
    
}

.includes--item h3{
 margin-left:50px;
 font-size:25px
}

.start-button{
    border: none;
    margin-top:30px;
    outline: none;
    height: 60px;
    width: 200px;
    color: #fff;
    font-size: 15px;
    border-radius:50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(#061dfb,#4016fc, #8b0efe,#c906ff);
}

.start-button:first-child:hover{
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    z-index: 1;
    animation: glow 8s linear infinite;}




footer{
    margin-top:70px;
    background: white;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;

}

footer a{
    color:#9a9a9a;
    text-decoration:none;
    font-size: 19px;
    margin-right:80px
}

footer a:hover{
    color:black;

}



.sub-footer{
    display: flex;
    justify-content: center;
    background:white;
    color: rgb(154, 154, 154);
    margin-bottom:0;
    margin-top:-50px
}


.sub-footer:hover{
    color:black;

}

footer img{
    margin-right:130px
}

@keyframes spiral{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}





@media(max-width:1170px){
    .logo{
        position:relative;
        left:115px
    }
    .innerSolapa{
        position:relative;
        right:115px
    }

    .imagen{
        margin-left: 40px; 
    }

    .carrousel{
        display:flex;
        flex-wrap: wrap;
    width:700px ;

    }

    .carrousel--container{
        width: 700px;
        display: flex;
        flex-wrap: wrap;
    }

    .carrousel--item{
        margin-top:100px
    }


    .steps h1{
        width: 800px;
    }

    .steps--description{
        width:900px
    }

    #step--title1{
        top:-150px;
   
    left:300px;
    }

    #step--title2{
        left: 210px;
    bottom: 120px;

    }


}




@media(max-width:500px){

    .logo{
        position:relative;
        left:65px
    }
 

    header label{
        display:flex;
        margin-top:29px;
        position:relative;
        left:80px;
        top:5px

        
    }

    .menu{
        position:absolute;
        background:white;
        flex-direction:column;
        left:-250px;
        width:40%;
        transition:.5s;
    }


    .header-menu{
        color:white
    }

    #btn-menu:checked ~ .menu{
        left:0px;
        border-radius:50px;
        margin-top:121px;
        width:440px;
        height: 634px;
        justify-content: space-between;
      
        


    }

    .triangulo{
        display:none
    }

    .down--button__container:hover ul, ul:hover{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        left:180px;
    }


    
  

   .imagen{
       width: 100px;
       width: 200px;
    position: relative;
    left:50px;
    top:220px
   }


   .top-title{
    margin-left: -400px; 
    margin-top:-50px

}

.main-title{
    letter-spacing: 4px; 
    font-size: 50px; 
    font-family: 'Archivo Black', sans-serif;
    width:400px;
    position:relative;
    right:150px;
    margin-bottom:15px

}
.main-subtitle{
    position: relative;
    right: 173px;
    width: 350px;
    font-size: 22px;

}
.sub-title{
    position: relative;
    left: -143px;
    width: 79px;
    top: 45px;
  
}

.innerSolapa a button{
    margin-left: -152px;
    top: -51px;
    height: 34px;
    width: 161px;

}
.carrousel{
    margin-left:105px;
    margin-top:90px
}
.carrousel--container{
    flex-direction:column;
}

.steps h1{
    width: 200px;
    font-size:45px
}

.steps--description{
    width:250px;
    font-size:16px;
    text-align: center;
}

.step--item{
    flex-direction:column
}

.step--img{
    position:relative;
    left:0px;
    bottom:50px;
   
    margin-bottom:10px


}

#step--title1{
    
top:0;
margin-bottom:20px;
left:140px;
}

.step--text{
    width: 350px;
    position:relative;
    left:5px;
    margin-bottom:60px;
    text-align: center;


}

#step--title2{
    left: 33px;
bottom: -250px;
        width:300px


}

.top{
    margin-top:-270px;
    margin-bottom:40px
}

.bottom{
    position:relative;
    top:270px;
   
}

.bigImg{
    margin-top:50px
}


.includes--container{
    width:400px;

}

.includes--item{
    width:90%
}

.start-button{
    margin-top:60px;

}

footer{
    flex-direction: column;
    height: 440px;

}
footer img{
    margin-right:0px;
    margin-top:-70px



}

footer a{
margin-right: 0px;
}
}