*{
    margin:0;
    padding:0;
    font-family: 'Heebo', sans-serif;
    
    
}

body{
    width: 80%;
    position: relative;
    left:100px
}

.home{
    text-align: center;
    position: relative;
    left:500px;
    color: rgb(47, 47, 49);
    top:60px;

}

.home:hover{
    color:black
}
@media(max-width:500px){
    body{
    left:50px
    }
    .home{
        left:170px
    }
}
